.media
{
    width: 100%;
    height: 300px;
    background: var(--blue);
    z-index: 1;
    position: absolute;
    margin-top: -100px;
    text-align: left;
    font-size: 0;
}
/*contatos*/
.contact
{
    float: right;
    margin-right: 10%;
    margin-top: 150px;
    font-size: 20px;
    
}

.contact li 
{
    color: #d6d6d6;
}

.contact li
{
    list-style-type: none;
    margin-top: 10px;
}

/*socialmedia*/
.socialmedia
{
    float: left;
    margin-left: 10%;
    margin-top: 150px; 
}

.socialmedia .btn
{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    color: #d6d6d6;
    border: none;
}

.socialmedia .btn i
{
    position: relative;
    z-index: 4;
    line-height: 80px;
    font-size: 40px;
    transition: 0.3s ease-in-out;
}

.socialmedia .btn:hover i
{
    color: #fff;
    transform: scale(1.1);
}

