
/* reseting css rules */
* 
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root 
{
    --gold: #C99D00;
    --blue: #011627;
    --gray: #ededed;
}

html,body 
{
  width: 100%;
  overflow-x: hidden;
}

/*line size*/
div.line
{
  height: 10px;
  background: var(--gold);
}

