/*section.welcome
{
    height: 600px;
    width: 100%;
    background-color: aqua;
    background-image: url("./papeldeparede1.png");
    background-repeat: no-repeat;
}
*/

.welcome
{
    height: 700px;
}